.c-tabs {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
}

.c-tabs:before,
.c-tabs:after {
  content: ' ';
  display: table;
}

.c-tabs:after {
  clear: both;
}

.c-tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
}

.c-tabs__list-item {
  flex: 1;
  width: 100%;
  border: 0;
  padding: 20px;
  font: inherit;
  cursor: pointer;
  text-align: center;
}

.c-tabs__list-item:not(:last-of-type) {
  border-right: 1px solid #eee;
}

.c-tabs__list-item.is-active {
  background-color: #eee;
}

.c-tabs__panel {
  position: relative;
  padding: 40px;
  top: 0;
  left: 100%;
  width: 100%;
  margin-left: -100%;
  float: left;
  background-color: #fff;
}

.c-tabs__panel[aria-hidden='true'] {
  visibility: hidden;
}

/**
 * Demo specific styles
 */

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  background-color: #fafafa;
}
